* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

*,
:before,
:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
}
.logo {
  width: 60px;
  height: 60px;
}
#main {
  position: relative;
  overflow: hidden;
  z-index: -2;
}
canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 95%;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
  background-color: rgba(212, 175, 161, 0.273);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: -1;
  padding: 0px 30px;
}
nav h3 {
  font-family: gilroy;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(61, 60, 60);
}
